.Mycontained {
  background-color: #4385ff;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.Myoutlined {
  border: solid 1px #4385ff;
  padding: 0.6em 1em;
  border-radius: 5px;
  color: #4385ff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.MytextButton {
  background-color: transparent;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
  color: #4385ff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
